<section id="Idiomas" class="about-section bg-white text-black py-16">
    <div class="container mx-auto text-center">
      <h2 class="text-4xl font-semibold text-gray-800 mb-10 animate__animated animate__fadeIn">Idiomas</h2>
  
      <div class="flex justify-center space-x-16">
        <div class="text-center p-6 bg-white shadow-lg rounded-lg transform transition duration-300 hover:scale-105 hover:shadow-2xl">
          <h3 class="text-2xl font-semibold mb-4 text-black">Español</h3>
          <p class="text-xl text-gray-700">Nativo</p>
        </div>
        <div class="text-center p-6 bg-white shadow-lg rounded-lg transform transition duration-300 hover:scale-105 hover:shadow-2xl">
          <h3 class="text-2xl font-semibold mb-4 text-black">Inglés</h3>
          <p class="text-xl text-gray-700">Nivel B1</p>
        </div>
      </div>
    </div>
  </section>
  
  
  <section id="Aptitudes" class="about-section bg-gray-100 text-black py-12">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-semibold mb-8">Aptitudes</h2>
  
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 ml-10 mr-10">
        <div class="bg-white p-8 rounded-lg shadow-lg transform transition duration-300 hover:scale-105 hover:bg-gray-200">
          <h3 class="text-xl font-semibold mb-4">Resolución de problemas</h3>
          <p class="text-lg">Capacidad para identificar, analizar y resolver problemas de manera eficiente.</p>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-lg transform transition duration-300 hover:scale-105 hover:bg-gray-200">
          <h3 class="text-xl font-semibold mb-4">Trabajo en equipo</h3>
          <p class="text-lg">Habilidad para colaborar y aportar al éxito colectivo en proyectos.</p>
        </div>
        
        <div class="bg-white p-8 rounded-lg shadow-lg transform transition duration-300 hover:scale-105 hover:bg-gray-200">
          <h3 class="text-xl font-semibold mb-4">Comunicación efectiva</h3>
          <p class="text-lg">Habilidad para expresar ideas de manera clara y efectiva tanto verbalmente como por escrito.</p>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-lg transform transition duration-300 hover:scale-105 hover:bg-gray-200">
          <h3 class="text-xl font-semibold mb-4">Gestión del tiempo</h3>
          <p class="text-lg">Capacidad para organizar y gestionar múltiples tareas de forma eficiente y dentro de los plazos establecidos.</p>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-lg transform transition duration-300 hover:scale-105 hover:bg-gray-200">
          <h3 class="text-xl font-semibold mb-4">Atención al detalle</h3>
          <p class="text-lg">Habilidad para detectar y corregir errores, asegurando la calidad y precisión en el trabajo realizado.</p>
        </div>
      </div>
    </div>
  </section>
  