<section id="Nosotros" class="about-section bg-white text-black py-12">
    <div class="container mx-auto flex flex-col md:flex-row">
        <div class="md:w-1/2 md:pr-8 px-10 m-16">
            <h2 class="text-3xl font-semibold mb-8">Experiencia Profesional</h2>

            <h3 class="text-xl font-semibold mt-6 mb-4">Experiencia Laboral</h3>
            
            <p class="mb-6 leading-relaxed text-justify"><strong>Desarrollador Frontend</strong><br>
            <em>Octubre 11, 2023 - Actualidad</em><br>
            Ingresé como becario en la empresa y, tras un periodo de aprendizaje y adaptación, fui promovido a desarrollador frontend. Trabajo en un equipo de desarrollo donde colaboro activamente en la creación de interfaces y experiencias de usuario. Utilizo tecnologías como React, Next.js y otras herramientas para el desarrollo de aplicaciones web.</p>
            
            <p class="mb-6 leading-relaxed text-justify"><strong>Desarrollador Full Stack (Proyecto Alterno)</strong><br>
            <em>Noviembre 2024 - Actualidad</em><br>
            Actualmente participo en un proyecto alterno en el que estamos desarrollando un sistema de punto de venta (POS). Trabajo en ambas áreas: frontend y backend, utilizando Angular y Bootstrap para el desarrollo frontend, y Spring Boot para el backend. Este proyecto sigue en curso y continúo trabajando activamente en su desarrollo y mantenimiento.</p>
        </div>
    </div>
</section>
