<section
  id="inicio"
  class="landing-section bg-black h-screen w-screen text-white relative overflow-hidden z-30"
>
  <header class="z-30 relative text-left pl-10 pr-10 sm:pl-5 sm:pr-5">
    <h2 class="pt-72 text-6xl font-medium sm:text-4xl md:text-5xl">García García</h2>
    <h2 class="text-6xl font-medium sm:text-4xl md:text-5xl">Marco Antonio</h2>
    <h2 class="text-2xl font-medium sm:text-lg md:text-xl">Frontend Dev</h2>
  </header>
  <div class="absolute top-0 bottom-0 left-0 right-0">
    <img src="/p2.jpg" alt="background image" class="object-cover w-full h-full"/>
  </div>
</section>
