<section
  id="inicio"
  class="landing-section bg-black h-screen w-screen text-white relative overflow-hidden z-30"
>
  <header class="z-30 relative text-left pl-10">
    <h2 class="pt-72 text-6xl font-medium">García García</h2>
    <h2 class="text-6xl font-medium">Marco Antonio</h2>
    <h2 class="text-2xl font-medium">Frontend Dev</h2>
  </header>
  <div class="absolute top-0 bottom-0">
    <img src="/p2.jpg" />
  </div>
</section>
