<section id="Formacion" class="about-section bg-white text-black py-12">
  <div class="container mx-auto flex flex-col md:flex-row">
    <div class="md:w-1/2 md:pr-8 px-10 m-16 ml-16">
      <h2 class="text-3xl font-semibold mb-8">Formación Académica</h2>

      <h3 class="text-xl font-semibold mt-6 mb-4">Educación</h3>

      <p class="mb-6 leading-relaxed text-justify">
        <strong>Bachillerato Técnico en Programación</strong><br />
        <em>Universidad Bancaria de México (UBAM) - 2018 - 2021</em><br />
        Realicé mis estudios en el área de programación, donde adquirí una sólida
        base en lenguajes de programación, desarrollo de software y fundamentos de
        sistemas computacionales. Durante esta etapa, tuve la oportunidad de aprender
        sobre diversas herramientas y metodologías que me prepararon para el siguiente
        paso en mi carrera académica.
      </p>

      <p class="mb-6 leading-relaxed text-justify">
        <strong
          >Ingeniería en Sistemas Computacionales (Actualmente cursando)</strong
        ><br />
        <em>Universidad Bancaria de México (UBAM) - 2021 - Actualidad</em><br />
        Actualmente estudio el 11º cuatrimestre de la carrera de Ingeniería en Sistemas
        Computacionales. Mi formación está enfocada en el desarrollo y gestión de
        sistemas de información, redes, bases de datos y programación avanzada. Continúo
        ampliando mis conocimientos en diversas áreas de la informática para seguir
        contribuyendo al mundo del desarrollo de software.
      </p>
    </div>
    <div class="md:w-1/2 mt-20 md:mt-0 px-10 pt-20">
      <img
        src="fr.jpg"
        alt="Formación Académica"
        class="mx-auto rounded-lg shadow-lg"
      />
    </div>
  </div>
</section>
