<section id="Proyectos" class="portfolio-section bg-white text-black py-12 px-10">
    <h2 class="text-black pt-20 text-5xl font-medium font-thin px-10 py-10">Tecnologías</h2>
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        <div class="portfolio-card bg-gray-100 rounded-lg shadow-lg p-6">
            <img src="html.jpg" alt="Proyecto 1" class="w-full h-48 object-cover mb-4 rounded-md">
            <h3 class="text-xl font-semibold mb-2">React</h3>
            <p class="text-gray-700">Una biblioteca de JavaScript para construir interfaces de usuario interactivas.</p>
        </div>
        <div class="portfolio-card bg-gray-100 rounded-lg shadow-lg p-6">
            <img src="css.jpg" alt="Proyecto 2" class="w-full h-48 object-cover mb-4 rounded-md">
            <h3 class="text-xl font-semibold mb-2">NextJs</h3>
            <p class="text-gray-700">Un framework para React que permite renderizado del lado del servidor y generación estática.</p>
        </div>
        <div class="portfolio-card bg-gray-100 rounded-lg shadow-lg p-6">
            <img src="js.jpg" alt="Proyecto 3" class="w-full h-48 object-cover mb-4 rounded-md">
            <h3 class="text-xl font-semibold mb-2">Astro</h3>
            <p class="text-gray-700">Un framework para construir sitios rápidos utilizando componentes de diferentes frameworks.</p>
        </div>
        <div class="portfolio-card bg-gray-100 rounded-lg shadow-lg p-6">
            <img src="js.jpg" alt="Proyecto 3" class="w-full h-48 object-cover mb-4 rounded-md">
            <h3 class="text-xl font-semibold mb-2">Angular</h3>
            <p class="text-gray-700">Un framework para construir aplicaciones web robustas y escalables en JavaScript.</p>
        </div>
        <div class="portfolio-card bg-gray-100 rounded-lg shadow-lg p-6">
            <img src="js.jpg" alt="Proyecto 3" class="w-full h-48 object-cover mb-4 rounded-md">
            <h3 class="text-xl font-semibold mb-2">SpringBoot</h3>
            <p class="text-gray-700">Un framework basado en Java para crear aplicaciones empresariales y microservicios rápidos.</p>
        </div>
        <div class="portfolio-card bg-gray-100 rounded-lg shadow-lg p-6">
            <img src="fr.jpg" alt="Proyecto 4" class="w-full h-48 object-cover mb-4 rounded-md">
            <h3 class="text-xl font-semibold mb-2">Tailwind</h3>
            <p class="text-gray-700">Un framework CSS utilitario para diseñar rápidamente interfaces personalizables.</p>
        </div>
    </div>
</section>
