<section id="Precios" class="landing-section bg-white h-screen w-screen text-center relative overflow-hidden" data-header-color="black">
    <header class="relative z-30">
        <h2 class="text-black pt-20 text-5xl font-medium font-thin">Conoce nuestros precios</h2>
    </header>
    <div class="absolute top-0 bottom-0"></div>
    <div class="absolute top-0 bottom-0 flex justify-center items-center w-full">
        <div class="flex justify-around">
            <div class="tabla bg-gray-50 p-14 shadow-lg mx-4 transform transition duration-300 hover:scale-105 hover:bg-gray-200">
                <h2 class="text-xl font-semibold mb-4 text-black">Trabajo 1</h2>
                <img src="maleta.png" width="60" alt="" class="mx-auto mb-4">
                <h3 class="text-2xl font-bold mb-4">$100</h3>
                <p class="text-gray-700">Características</p>
                <a href="#" class="block bg-black text-white hover:bg-white hover:text-black font-bold py-2 px-4 mt-4 rounded transition duration-200">Comprar</a>
            </div>
            <div class="tabla bg-gray-50 p-14 shadow-lg mx-4 transform transition duration-300 hover:scale-105 hover:bg-gray-200">
                <h2 class="text-xl font-semibold mb-4 text-black">Trabajo 2</h2>
                <img src="maleta.png" width="60" alt="" class="mx-auto mb-4">
                <h3 class="text-2xl font-bold mb-4">$200</h3>
                <p class="text-gray-700">Características</p>
                <a href="#" class="block bg-black text-white hover:bg-white hover:text-black font-bold py-2 px-4 mt-4 rounded transition duration-200">Comprar</a>
            </div>
            <div class="tabla bg-gray-50 p-14 shadow-lg mx-4 transform transition duration-300 hover:scale-105 hover:bg-gray-200">
                <h2 class="text-xl font-semibold mb-4 text-black">Trabajo 3</h2>
                <img src="maleta.png" width="60" alt="" class="mx-auto mb-4">
                <h3 class="text-2xl font-bold mb-4">$300</h3>
                <p class="text-gray-700">Características</p>
                <a href="#" class="block bg-black text-white hover:bg-white hover:text-black font-bold py-2 px-4 mt-4 rounded transition duration-200">Comprar</a>
            </div>
            <div class="tabla bg-gray-50 p-14 shadow-lg mx-4 transform transition duration-300 hover:scale-105 hover:bg-gray-200">
                <h2 class="text-xl font-semibold mb-4 text-black">Trabajo 4</h2>
                <img src="maleta.png" width="60" alt="" class="mx-auto mb-4">
                <h3 class="text-2xl font-bold mb-4">$500</h3>
                <p class="text-gray-700">Características</p>
                <a href="#" class="block bg-black text-white hover:bg-white hover:text-black font-bold py-2 px-4 mt-4 rounded transition duration-200">Comprar</a>
            </div>
        </div>
    </div>
</section>
