<section id="Nosotros" class="about-section bg-white text-black py-12">
    <div class="container mx-auto flex flex-col md:flex-row">
        <div class="md:w-1/2 md:pr-8 px-10 m-16">
            <h2 class="text-3xl font-semibold mb-8">¿Quién Soy?</h2>
            <p class="mb-6 leading-relaxed text-justify">Soy un estudiante de sistemas computacionales apasionado por el desarrollo de aplicaciones web y enfocado en la programación del lado del frontend. Mi interés radica en crear experiencias de usuario intuitivas y atractivas a través del diseño y la implementación de interfaces de usuario dinámicas y responsivas. Estoy familiarizado con las últimas tecnologías y herramientas del frontend, incluyendo HTML, CSS y JavaScript, así como los diversos frameworks y bibliotecas como React.js, Angular y Vue.js. Constantemente busco mejorar mis habilidades y mantenerme al tanto de las tendencias emergentes en el mundo del desarrollo web para poder contribuir de manera significativa en proyectos innovadores y desafiantes.</p>
            <p class="leading-relaxed text-justify"></p>
        </div>
        <div class="md:w-1/2 mt-8 md:mt-0 px-10 pt-10">
            <img src="p3.jpg" alt="Arquitectos" class="mx-auto rounded-lg shadow-lg">
        </div>
    </div>
</section>
